<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593517619081-k4idoeufqi4cb5n7193qoa236okg7vd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593517619081-k4idoeufqi4cb5n7193qoa236okg7vd7</string>
	<key>API_KEY</key>
	<string>AIzaSyDOfQV5_ad8r_T2Eet7hgZUhcHROQan88Y</string>
	<key>GCM_SENDER_ID</key>
	<string>593517619081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sillas.messageViewCode</string>
	<key>PROJECT_ID</key>
	<string>messageviewcode-f162f</string>
	<key>STORAGE_BUCKET</key>
	<string>messageviewcode-f162f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593517619081:ios:1be039ba2c37f0bda5e358</string>
</dict>
</plist>